<div class="card bg-dark text-light">
  <div class="card-header">
    <h1 class="card-title">Mi Perfil</h1>
  </div>
  <div class="card-body">
    <p>Correo Eléctronico: {{user.email}}</p>
    <p>Miembro desde: {{user.createdAt}}</p>
  </div>
</div>