body {
  background: #282828;
  /* background: #dcdde1; */
}

.navbar-brand img {
  width: 15%;
}

.mt-2 {
  margin-top: 1.5rem!important;
}

.card {
  border-radius: 10px;
}

.btn {
  border-radius: 10px;
}

.card-title {
  margin-top: 0.3rem;
}

@media (max-width: 540px) {

.phone {
  font-size: 0.75rem; 
}

.phone-btn {
  padding: 0.7rem;
}

}