<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{!-- Manifest --}}
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <meta name="apple-mobile-web-app-title" content="Ima-Go">
  <meta name="msapplication-TileImage" content="/public/assets/logo-512.png">
  <meta name="msapplication-TileColor" content="#272727">
  <link rel="apple-touch-icon" href="/public/assets/logo-192.png">
  <link rel="manifest" href="/public/manifest.json">
  
  <title>Ima-Go</title>
  {{>head}}
</head>

<body>

  {{>navigation}}

  <div class="container p-4">
    {{{body}}}
  </div>

  {{>footer}}
  <script src="/public/js/sw.js"></script>
</body>

</html>
